In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [3]:
import os

os.listdir('..')

['.git',
 '.gitignore',
 '.venv',
 'data',
 'notebooks',
 'README.md',
 'requirements.txt',
 'src']

In [8]:
os.listdir('../data')

['processed', 'train_dataset.csv']

In [9]:
os.listdir('../data/processed')

NotADirectoryError: [WinError 267] The directory name is invalid: '../data/processed'

In [10]:
import os

os.path.isdir('../data/processed')
os.path.isfile('../data/processed')

True

In [15]:
import os

os.path.isdir('../data/train_dataset.csv'), os.path.isfile('../data/train_dataset.csv')

(False, False)

In [16]:
import os
os.getcwd()

'c:\\Users\\DHRITIKA MISRA\\OneDrive\\Desktop\\Covid\\notebooks'

In [18]:
os.listdir('..')

['.git',
 '.gitignore',
 '.venv',
 'data',
 'notebooks',
 'README.md',
 'requirements.txt',
 'src']

In [20]:
import os
os.listdir('../data/train_dataset')

['BCG_country_data.csv',
 'task_1-google_search_english_original_metadata.csv',
 'task_2-BCG_strain_per_country-1Nov2020.csv',
 'task_2-BCG_strain_per_country-8Nov2020.csv',
 'task_2-BCG_world_atlas_data-bcg_strain-7July2020.csv',
 'task_2-COVID-19-death_cases_per_country_after_fifth_death-till_22_September_2020.csv',
 'task_2-COVID-19-death_cases_per_country_after_first_death-till_22_September_2020.csv',
 'task_2-owid-covid-data-22_September_2020.csv']

In [21]:
import pandas as pd

df = pd.read_csv(
    '../data/train_dataset/task_2-owid-covid-data-22_September_2020.csv'
)

df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [22]:
global_death_rate = (
    df['total_deaths'].sum() / df['total_cases'].sum()
) * 100

global_death_rate

np.float64(4.099954179151667)

In [23]:
country_death_rate = (
    df.groupby('location')['total_deaths'].max()
    / df.groupby('location')['total_cases'].max()
) * 100
country_death_rate.sort_values(ascending=False).head(10)

location
Yemen             28.916256
Italy             11.927641
Mexico            10.519427
United Kingdom    10.483035
Belgium            9.632326
Ecuador            8.756146
Jersey             8.080808
Montserrat         7.692308
Isle of Man        7.058824
Chad               7.025152
dtype: float64

In [26]:
df[['median_age', 'aged_65_older', 'aged_70_older']].describe()

         median_age  aged_65_older  aged_70_older
count  40510.000000   39909.000000   40300.000000
mean      31.349450       9.273845       5.866921
std        9.023168       6.323633       4.319078
min       15.100000       1.144000       0.526000
25%       23.500000       3.556000       2.142000
50%       31.400000       6.981000       4.419000
75%       39.700000      14.762000       9.473000
max       48.200000      27.049000      18.493000

In [30]:
import matplotlib.pyplot as plt

filtered_df = df[df['total_cases'] > 10000]

country_death_rate_filtered = (
    filtered_df.groupby('location')['total_deaths'].max()
    / filtered_df.groupby('location')['total_cases'].max()
) * 100

country_death_rate_filtered.sort_values(ascending=False).head(10)

location
Italy             11.927641
Mexico            10.519427
United Kingdom    10.483035
Belgium            9.632326
Ecuador            8.756146
France             6.841447
Sweden             6.646871
Netherlands        6.540214
Canada             6.345975
Sudan              6.167466
dtype: float64

In [31]:
bcg = pd.read_csv(
    '../data/train_dataset/BCG_country_data.csv'
)

bcg.head()

,country_name,official_state_name,sovereignty,alpha_2_code,alpha_3_code,internet_cctld,gni_per_capita_usd,year_of_gni_report,income_group_type,bcg_search_non_english_language,...,stroke_disease_disability,percentage_men_smokers,percentage_women_smokers,percentage_people_with_diabetes,region,lockdown_start,lockdown_end,population_per_km2,population_per_mi2,population
0,Seychelles,The Republic of Seychelles,UN member state,SC,SYC,.sc,14890.0,2017.0,High-income group,NaN,...,2.0,32.5,15.0,14.6,Africa,NaN,NaN,212.66,551.0,95843.0
1,Antigua and Barbuda,Antigua and Barbuda,UN member state,AG,ATG,.ag,14700.0,2017.0,High-income group,NaN,...,13.0,NaN,NaN,7.3,South/Latin America,NaN,NaN,235.48,610.0,95426.0
2,Mauritius,The Republic of Mauritius,UN member state,MU,MUS,.mu,14230.0,2017.0,High-income group,NaN,...,11.0,54.7,3.1,14.6,Africa,NaN,NaN,620.38,1607.0,1264613.0
3,Monaco,The Principality of Monaco,UN member state,MC,MCO,.mc,186710.0,2008.0,High-income group,French,...,3.0,NaN,NaN,8.8,Europe,NaN,NaN,18960.40,49107.0,38392.0
4,Liechtenstein,The Principality of Liechtenstein,UN member state,LI,LIE,.li,116300.0,2009.0,High-income group,German,...,NaN,NaN,NaN,NaN,Europe,NaN,NaN,239.88,621.0,37800.0

In [35]:
bcg.columns

Index(['country_name', 'official_state_name', 'sovereignty', 'alpha_2_code',
       'alpha_3_code', 'internet_cctld', 'gni_per_capita_usd',
       'year_of_gni_report', 'income_group_type',
       'bcg_search_non_english_language', 'covid_19_test_total_per_thousand',
       'covid_19_test_cumulative_total', 'covid_19_test_unit',
       'covid_19_test_date_reported', 'hospital_bed_per_1000_people',
       'female_population_percent', 'median_age', 'median_age_male',
       'median_age_female', 'percentage_population_over_65',
       'hearth_disease_disability', 'stroke_disease_disability',
       'percentage_men_smokers', 'percentage_women_smokers',
       'percentage_people_with_diabetes', 'region', 'lockdown_start',
       'lockdown_end', 'population_per_km2', 'population_per_mi2',
       'population'],
      dtype='object')

In [37]:
smoking_df = bcg[[
    'country_name',
    'percentage_men_smokers',
    'percentage_women_smokers',
    'region'
]].dropna()

In [38]:
smoking_df['total_smokers_percent'] = (
    smoking_df['percentage_men_smokers'] +
    smoking_df['percentage_women_smokers']
)

smoking_df.sort_values(
    by='total_smokers_percent',
    ascending=False
).head(10)

,country_name,percentage_men_smokers,percentage_women_smokers,region,total_smokers_percent
14,Nauru,56.8,64.7,Asia & Pacific,121.5
158,Lebanon,60.7,46.9,Middle east,107.6
47,Kyrgyzstan,64.1,41.4,Asia & Pacific,105.5
50,Bangladesh,63.0,34.5,Asia & Pacific,97.5
24,Samoa,67.4,28.8,Asia & Pacific,96.2
185,Nepal,61.5,34.6,Asia & Pacific,96.1
72,Latvia,64.5,29.2,Europe,93.7
242,Kenya,66.3,27.3,Africa,93.6
7,Yemen,60.0,29.0,Middle east,89.0
100,Greece,53.5,33.6,Europe,87.1

In [41]:
death_first_df = pd.read_csv(
    '../data/train_dataset/task_2-COVID-19-death_cases_per_country_after_first_death-till_22_September_2020.csv'
)

In [42]:
death_first_df.columns

Index(['country_name', 'alpha_3_code', 'date_first_death', 'date_fifth_death',
       'deaths_per_million_10_days_after_first_death',
       'deaths_per_million_15_days_after_first_death',
       'deaths_per_million_20_days_after_first_death',
       'deaths_per_million_25_days_after_first_death',
       'deaths_per_million_30_days_after_first_death',
       'deaths_per_million_35_days_after_first_death',
       'deaths_per_million_40_days_after_first_death',
       'deaths_per_million_45_days_after_first_death',
       'deaths_per_million_50_days_after_first_death',
       'deaths_per_million_55_days_after_first_death',
       'deaths_per_million_60_days_after_first_death',
       'deaths_per_million_65_days_after_first_death',
       'deaths_per_million_70_days_after_first_death',
       'deaths_per_million_75_days_after_first_death',
       'deaths_per_million_80_days_after_first_death',
       'deaths_per_million_85_days_after_first_death',
       'deaths_per_million_90_days_after_first_death',
       'deaths_per_million_95_days_after_first_death',
       'deaths_per_million_100_days_after_first_death',
       'deaths_per_million_105_days_after_first_death',
       'deaths_per_million_110_days_after_first_death',
       'deaths_per_million_115_days_after_first_death',
       'deaths_per_million_120_days_after_first_death',
       'deaths_per_million_125_days_after_first_death',
       'deaths_per_million_130_days_after_first_death',
       'deaths_per_million_135_days_after_first_death',
       'deaths_per_million_140_days_after_first_death',
       'deaths_per_million_145_days_after_first_death',
       'deaths_per_million_150_days_after_first_death',
       'stringency_index_10_days_after_first_death',
       'stringency_index_15_days_after_first_death',
       'stringency_index_20_days_after_first_death',
       'stringency_index_25_days_after_first_death',
       'stringency_index_30_days_after_first_death',
       'stringency_index_35_days_after_first_death',
       'stringency_index_40_days_after_first_death',
       'stringency_index_45_days_after_first_death',
       'stringency_index_50_days_after_first_death',
       'stringency_index_55_days_after_first_death',
       'stringency_index_60_days_after_first_death',
       'stringency_index_65_days_after_first_death',
       'stringency_index_70_days_after_first_death',
       'stringency_index_75_days_after_first_death',
       'stringency_index_80_days_after_first_death',
       'stringency_index_85_days_after_first_death',
       'stringency_index_90_days_after_first_death',
       'stringency_index_95_days_after_first_death',
       'stringency_index_100_days_after_first_death',
       'stringency_index_105_days_after_first_death',
       'stringency_index_110_days_after_first_death',
       'stringency_index_115_days_after_first_death',
       'stringency_index_120_days_after_first_death',
       'stringency_index_125_days_after_first_death',
       'stringency_index_130_days_after_first_death',
       'stringency_index_135_days_after_first_death',
       'stringency_index_140_days_after_first_death',
       'stringency_index_145_days_after_first_death',
       'stringency_index_150_days_after_first_death'],
      dtype='object')

In [43]:
death_first_df.sort_values(
    by='deaths_per_million_30_days_after_first_death',
    ascending=False
).head(10)

,country_name,alpha_3_code,date_first_death,date_fifth_death,deaths_per_million_10_days_after_first_death,deaths_per_million_15_days_after_first_death,deaths_per_million_20_days_after_first_death,deaths_per_million_25_days_after_first_death,deaths_per_million_30_days_after_first_death,deaths_per_million_35_days_after_first_death,...,stringency_index_105_days_after_first_death,stringency_index_110_days_after_first_death,stringency_index_115_days_after_first_death,stringency_index_120_days_after_first_death,stringency_index_125_days_after_first_death,stringency_index_130_days_after_first_death,stringency_index_135_days_after_first_death,stringency_index_140_days_after_first_death,stringency_index_145_days_after_first_death,stringency_index_150_days_after_first_death
151,San Marino,SMR,02/03/2020,13/03/2020,88.396,265.189,589.310,618.775,766.103,942.896,...,33.33,33.33,33.33,33.33,33.33,33.33,33.33,33.33,33.33,33.33
177,Andorra,AND,27/03/2020,30/03/2020,232.964,336.504,427.102,465.929,517.699,543.584,...,41.67,41.67,41.67,41.67,41.67,41.67,41.67,41.67,41.67,41.67
80,Belgium,BEL,11/03/2020,13/03/2020,11.217,41.244,100.780,201.301,319.683,439.618,...,51.85,51.85,48.15,48.15,48.15,48.15,48.15,61.11,61.11,57.41
30,Sint Maarten (Dutch part),SXM,02/04/2020,08/04/2020,209.878,209.878,233.198,303.158,303.158,326.477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Isle of Man,IMN,03/04/2020,19/04/2020,23.521,47.041,176.404,211.685,258.726,270.486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Spain,ESP,05/03/2020,07/03/2020,2.909,16.405,57.663,139.622,233.880,311.305,...,57.41,39.35,39.35,39.35,55.09,55.09,64.35,64.35,64.35,64.35
41,Montserrat,MSR,26/04/2020,NaN,200.040,200.040,200.040,200.040,200.040,200.040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Guernsey,GGY,04/04/2020,09/04/2020,89.483,134.224,149.138,193.879,193.879,193.879,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Jersey,JEY,27/03/2020,16/04/2020,29.682,39.575,59.363,138.514,187.983,227.558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Sweden,SWE,12/03/2020,12/03/2020,4.258,13.763,33.369,68.817,114.860,163.477,...,38.89,38.89,38.89,38.89,38.89,38.89,38.89,38.89,37.04,37.04

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
import sys
import pandas as pd
import matplotlib.pyplot as plt

sys.path.append("..")

In [8]:
import pandas as pd

def load_covid_data(path: str) -> pd.DataFrame:
    """
    Load OWID COVID dataset from given path
    """
    df = pd.read_csv(path)
    return df


def basic_cleaning(df: pd.DataFrame) -> pd.DataFrame:
    """
    Perform basic cleaning for analysis
    """
    cols_needed = [
        "location",
        "date",
        "total_deaths",
        "total_deaths_per_million",
        "people_vaccinated",
        "median_age",
        "aged_65_older"
    ]

    available_cols = [c for c in cols_needed if c in df.columns]
    df = df[available_cols]

    return df